.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


# exclude files within /inputs/data and /outputs/data 
/inputs/data/*
/outputs/data/*
/outputs/figures/*
/notebooks/*

!/inputs/data/.gitkeep
!/outputs/data/.gitkeep
!/outputs/figures/.gitkeep